@charset "utf-8";
/* CSS Document */

 *
            {
                margin: 0px;
                padding: 0px;
            
            }
            header
            {
                width: auto;
                height: 100px;
            
		}

            .mymargin
            {
                width: 960px;
                height: 100px;
                margin: 0px auto;
            }
            .logo
            {
                width: 285px;
                height: 75px;
                float: left;
                margin-top: 10px;
                margin-left: 10px;
                font-family: 'Anton', sans-serif;
                font-size: 30px;
                line-height: 75px;
            }
            nav
            {
                width: 600px;
                height: 35px;
                float: right;
                margin-right: 10px;
                margin-top: 50px;
            }
            .nav1
            {
                width: 120px;
                height: 35px;
                float: right;
                font-family: 'Roboto', sans-serif;
                font-size: 20px;
                line-height: 35px;
                text-align: center;
            }
            li a
            {
                text-decoration: none;
                display: block;
                color: #000000;
            }
            li a:hover:not(.active) {
                background-color: #f0f0f0;
                color: #000000;
                }

            .active {
            background-color:#f0f0f0;
                color: #000000;
            }
         .nav2
            {
                display: none;
                position: absolute;
                z-index: 1;
            }
            .nav3:hover .nav2
            {
                width:120px;
                height: 35px;
                background-color: #ffffff;
                position: relative;
                display: inline-block;
            }

.bread
{
    width: auto;
    height: 70px;
    background-color: #f0f0f0;
   
    font-size: 30px;
    font-family: 'Crete Round', serif;
}
.breadbox
{
    width: 960px;
    height: 70px;
    text-align: left;
     font-size: 30px;
    font-family: 'Crete Round', serif;
margin: 0px auto; line-height: 70px;
}
.buttondecor
{
    width:150px;
    height: 40px;
    float: right;
    border: 1px #000000 solid; margin-top: 15px; opacity: 0.7;
    background-color: #010101;
    
    
    border-radius: 10px;
   
   
    
}
.buttondecor a
{
     text-decoration: none;
    color: #ffffff;
    font-size: 15px;
}
footer
{
	width: auto;
	height: 50px;
	background-color: #f0f0f0;
}
.foot
{
	width: 960px;
	height: 50px;
	margin: 0px auto;
	
}
.copy
{
	margin-top: 20px;
	color: #000000;
	font-size: 18px;
	font-family: 'Roboto', sansarif;
	float: right;
	margin-right: 10px;
	
}
.top
{
    width: auto;
    height: 50px;
    background-color: #f0f0f0;
}
.wrapper
{
    width: 960px;
    height: 50px;
    margin: 0px auto;
}

.fa-facebook , .fa-twitter
{
    float: right;
    font-size: 25px;
    margin-top: 10px;
    margin-right: 20px;
}
.fa-envelope , .fa-mobile-alt
{
    font-size: 20px;
    margin-top: 15px;
    margin-left: 20px;
}
.banner1
{
    width: auto;
    height: 500px;
    background-image: url("../images/waterpump.jpg");
    background-size: cover;
    background-position: center;
}
.banner
{
    width: 960px;
    margin: 0px auto;
    height: 300px;
    
    text-align: center;
    font-size: 20px;
     font-family: 'Crete Round', serif;
}
.floter
{
    width: 960px;
    height: 200px;
    float: left;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 3px #000000;
    border-radius: 10px;
    margin-left: 15px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 15px;
}
.floter1
{
    width: 700px;
    height: 100px;
    float: right;
    background-color: #f0f0f0;
    box-shadow: 0px 0px 3px #000000;
    margin-left: 15px;
    border-radius: 10px;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 15px;
}
section
{
    width: 960px;
    margin: 0px auto;
    height: 700px;
    margin-top: 30px;
    
}
.headding
{
    font-size: 30px;
    font-family: 'Create Round' , serif;
    padding: 10px;
}
.submer
{
    width: 470px;
    height: 300px;
    background-color: aqua;
    float: left;
    background-image: url("../images/submer.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
}
.fuel
{
    width: 470px;
    height: 300px;
    background-color: brown;
    float: right;
    background-image: url("../images/fuel.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}
.submer1
{
    width: 470px;
    height: 300px;
    padding: 20px;
    float: left;
    box-sizing: border-box;
    
    
}
.gghg
{
    padding: 10px;
    font-family: 'Create Round',serif;
    font-size: 20px;
    
}
.fuel1
{
    width: 470px;
    height: 300px;
    padding: 20px;
    float: right;
    box-sizing: border-box;
    
}
.stylingbutton
{
    
    background-color: #daffff;
    outline: none;
    border-radius: 5px;
    font-family: 'Create Round',serif;
    font-size: 20px;
    padding: 10px;
    box-sizing: border-box;
}